version: "3.8"

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.6
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      # --- KRaft ---
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # --- Listeners ---
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # --- Single-node ---
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      # --- Cluster ID (stable) ---
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

    healthcheck:
      # Vérifie que Kafka répond bien
      test: [ "CMD", "bash", "-c", "kafka-broker-api-versions --bootstrap-server localhost:9092 >/dev/null 2>&1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  kafka-ui:
    image: kafbat/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
      KAFKA_CLUSTERS_0_NAME: local-kraft
      # IMPORTANT : utiliser l'endpoint interne Docker
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092

  shop-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shop-api
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      # Important: Kafka vu depuis Docker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092